@media (min-width: 1280px){
    .collapse {
        justify-content: center;
        ul {
            gap: 30px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .collapse {
      justify-content: center;
      ul {
        gap: 30px;
      }
    }
}

@media (min-width: 1px) and (max-width: 992px) {
    .container-fluid {
        text-align: center;
    }
}